/* section1 */

#section1 {
   width: 760px;
   height: 1500px;
   background-image: none;
   background-color: rgb(25, 119, 143);
}

#section1 #container1 nav{
    display: inline-block;
    width: 100%;
    height: 30px;
    padding-top: 40px;
    
}

#section1 #container1 nav ul{
    display: block;
    
    list-style: none;
    margin-top: 30px;
}

#section1 #container1 nav ul li:hover{
    background-color: #2AC69C;
    height: 0px;
    border-radius: 3px;
    width: 80px;
    
}

#section1 .hire{
    position: relative;
    left: 30px;
    top: 70px;
    width:  300px;
    height: 460px;
      
}

#section1 .hire h1{
   font: Open Sans;
   font-size: 20px; 
   line-height: 40px;
}

#section1 .bottom{
    display: block;
    float: left;
    width: 10rem;
    
}

#section1 .bottom p{
    display: inline-block;
    padding: 10px;
}

/* section2 */
#section2 {
    display: none;
}

#section3{
    height: 2220px;
    max-width: 760px;
}

#section3 div>div{
    position: relative;
    top: 91.51px;
    left: 0px;
    width: 300px;
    height: 170px;

}

#section3 h1{
    width: 300px;
    margin-right: 100px;
    text-align: left;
    font: normal normal 20px Open Sans;
    letter-spacing: 0px;
    color: #201D1D;
    opacity: 1;
    font-weight: 500;
}

#section3 h2{
    width: 300px;
    height: 300px;
}

#section3 .container-1{
    display: block;
}

#section3 .container-1>div{
    padding-left: 0%;

    background-color: rgb(255, 255, 255);
    left: 0;
    top: 0;
    width: 350px;
    height: 400px; 
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

/* section4 */
#section4{
    width: 760px;
    height: 600px;
    background-image: none;
    background-color:#26DFAD ;
}
#section4>div{
    margin: 4%;
    margin-top: 0%;
    width: 300px;
    text-align: left;
} 

#section4>div>h1{
    text-align: left;
}
#section4>div>h2{
    text-align: left;
}
/* sectin 5 */
#section5>div{
    position: relative;
    top:10em;
    padding-left: 1rem;
    width: 509px;
}
#section5{
 width: 760px;
}
#section5 h2{
 width: 300px;
 
}
/* section6 */
#section6{
    width: 760px;
    height: 3700px;
}

#section6>div{
    
    width: 300px;
    margin-left: 10px;
    text-align: left;
}

#section6 .container1 {
    display: block;
    margin: 0px;
    text-align: left;
    justify-content: left;
    position: relative;
    
    top: 5em;
    width: 300px;
    height: 1600px ;

} 

#section6 .container1>div{
    padding-left: 0%;
    background-color: rgb(255, 255, 255);
    left: 0;
    top: 0;
    width: 364.03px;
    height: 500px; 
    margin: 10px;
}

/* section 7 */
#section7{
    width: 760px;
    height: 2100px;
}

#section7>div{
    text-align: left;
    margin-left: 10px;
    width: 450px;
    height: 150px;
}

#section7 .container{
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: space-between;
    position: relative;
    top: 9em;
    width: 1250px;
    height: 578px ;
}

#section7 .container>div{
    background-color: white;
    width:397px ;
    border-radius: 20px;
    margin: 10px;
    padding-top: 34px;
    
    
}

/* section 8 */
#section8{
    height: 500px;
    width: 760px;
    background-color: #26DFAD;
    background-image: none;
    opacity: 1;
    
}

#section8>div{
    width: 450px;
    height: 100px;
    margin-left: 5%;
    padding-top:75px ;
    text-align: left;
}

/* section 9 */

#section9{
    margin-top: 100px;
    width: 760px;
    height: 5900px;
}

#section9 .top{
    width: 450px;
    margin: 0;
    
    margin-left: 20px;
    text-align: left;
   
}

#section9 .LR{
    display: block;
    justify-content: center;
    padding-top: 20px;
}

#section9 .RL{
    display: block;
    justify-content: center;
}

#section9 .threeimg .RL .text{
    width: 505px;
    height: 282px; 
    float: left;
    position: relative;
    top: 10px;
    left: 0;
}

#section9 .threeimg .RL .text h1{
    padding-left: 0px;
}
#section9 .threeimg .RL .text h2{
    padding-left: 0px;
}

/* section10 */

#section10 {
    width: 760px;
    height: 2500px;
}

#section10 .first {
    width: 590px;
    height: 300px;
    text-align: left;
    margin-left: 0;
}
#section10 .first h1{
    font-family: Open Sans;
    font-weight: bold;
    font-size: 34px;
    padding: 0%;
    width: 570px;
    height: 160px;
}

#section10 .first h2{
    width: 550px;
    height: 200px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    font-weight: 100;
    letter-spacing: 0.09px;
    color: #1E2036;

}

#section10 .LR{
    display: block;
    justify-content: center;
    margin-top: 80px;
    height: 400px;
}

#section10 img{
    display: none;
}

/* section11 */
#section11{
    width: 760px;
    height: 3000px;
}

#section11 div>div{
    position: relative;
    left: 0px;
    width: 500px;
    height: 200px;
}

#section11 h2{
    width: 500px;
    height: 200px;
}

#section11 .container-1{
    display: block;
    height: 1100px;
}

/* section12 */

#section12{
    width: 760px;
    margin-top: 70px;

}

#section12 .heading{
    width: 500px;
    margin-left: 10px;
    text-align: left;
    height:250px ;
}

#section12 .container{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 1300px;
    margin: 0;
    margin-top: 10px;
    justify-content:none;
   
}

#section12 .container>div{
    width:381px ;
    background-color: #fff;
    border-radius:10px ;
    box-shadow: 0px 3px 53px #A3A3A329;
    height: 400px;
}